#!/bin/bash
# starts/restarts our container
# In local dev mode we also
#  - create a static file server so it's easier to get the workspace files
#  - set the flag so workspace files are NOT purged after a run
set -euo pipefail
cd `dirname "$0"`

# you can change the bound host ports
export NATCAP_PORT=5000
export FILES_PORT=5001

# TODO change this to the Docker image tag you want to run
export NATCAP_TAG=`git tag | tail -n 1`

# uncomment the following for a production deploy
# export NIDF_ENV=production
export SOCKETIO_SECRET=${SOCKETIO_SECRET:-`uuidgen`}

# uncomment to enable Sentry.io reporting
# export SENTRY_DSN="https://11111111111111111111111111111111@o222222.ingest.sentry.io/3333333"

isLocalDevMode=`[ ! -z "${LOCAL_DEV:-}" ]`

dc='docker-compose'
if $isLocalDevMode; then
  dc="$dc --file docker-compose.yml --file docker-compose.local-dev.yml"
fi

echo "[INFO] $(date) - starting stack"
$dc up -d $@

if $isLocalDevMode; then
  cat <<EOF
[INFO] you're in local dev mode so we've dropped you to a shell.
 - Start the app with ./docker/run.sh.
 - You can Ctrl-c back to this shell and inspect the output files in
   /workspace.
 - Add the code 'import pdb; pdb.set_trace()' in the source to trigger the
   python debugger in here.
 - A static file server is running on http://localhost:${FILES_PORT} so you can
   inspect the /workspace files with your web browser.
 - Your local files are shadowing the container's so if you want to run the
   official natcap sample data, you'll need to:
    - open a separate terminal
    - exec into this container as root: docker exec -it -u 0 natcap bash
    - run the prep script: ./docker/prep-for-sample-data-run.sh force
   ...then you can run the sample data.
EOF
  docker exec -it natcap bash
  echo "[INFO] killing the stack for you"
  $dc down --volumes
else
  echo "[INFO] stack started"
fi
